<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis corrupti quam hic repellat dolore fugit sed
      harum quaerat, fugiat consectetur et expedita sit vitae neque! Quae temporibus, officia accusamus a quibusdam hic
      maiores quis recusandae, illum expedita in odio placeat?</p>
  </div>
</div>