<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs and Mongodb Atlas</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi eaque neque iure, quibusdam tenetur
    beatae ipsum animi architecto id incidunt commodi quam. Dolorem impedit beatae non odio cupiditate unde. Fuga?</p>
  <hr class="my-4">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi ad eius, accusamus fuga labore eveniet consequatur
    reiciendis quae? Sunt voluptate inventore doloremque maiores suscipit ea excepturi delectus fugiat sequi blanditiis.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, repellendus, obcaecati rerum soluta ullam
    dignissimos facere porro veritatis alias, aliquam corporis eum excepturi corrupti cumque. Ad, autem delectus! Ad,
    in.
  </p>
  <a href="" class="btn btn-primary btn-lg">Botom</a>
</div>